<div class="alert alert-primary" role="alert">
 <div class="container">
   <div class="row custom_row">
    <div class="col-md-6 ">
      <div class="">
        <label for="exampleFormControlInput1" class="form-label">Github Profile</label>
 
      </div>
     </div>
     <div class="col-md-6 ">
      <div class=" custom_email_container">
        <label for="exampleFormControlInput1" class="form-label custom_form_label">Search User</label>
        <input (keyup)="searchData($event)" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search User">
      </div>
     </div>
   </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-user-list [list]="userList"></app-user-list>
    </div>
  </div>
</div>

